.aboutbg{
    position: absolute;
    z-index: -1;
    opacity: 10%;
    object-fit: contain;
    width: 100%;
    /* transform: scale(120%); */
}
.aboutcompany{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 3rem;
}
.aboutcompany1{
    width: 33%;
}
.aboutcompany2{
    display: flex;
    justify-content: space-between;
}
.aboutcompany3{
    margin-top: 25px;
    margin-left: 7px;
}
.aboutcompany3 img{
    transform: scale(110%);
}
.aboutcompany4{
    display: flex;
}
.aboutbanner{
    background-color: #2d2d2d;
    display: flex;
    align-items: center;
    margin-top: 150px;
    border-bottom: 25px solid #282828;
    border-top: 25px solid #282828;
}
.aboutbanner1{
    width: 100%;
    height: 151px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.aboutbanner img{
    opacity: 10%;
    position: absolute;
    z-index: 1;
    width: 100%;
    width: 100%;
}
